
{{#if msg}}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success alert-dismissable">{{msg.text}}</div>
    </div>
</div>
{{/if}}

<div class="row">
    {{#if activeTask}}
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-{{activeTask.status-class}}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-{{activeTask.status-icon}} fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{activeTask.code}}</div>
                        <div>{{activeTask.title}}</div>
                        <div>Remaining time: <span id="remaining-time">{{activeTask.esthours}}:{{activeTask.estminutes}}</span></div>
                    </div>
                </div>
            </div>
            <a href="/task/details/{{activeTask._id}}">
                <div class="panel-footer">
                    <span class="pull-left">
                        <i class="fa fa-{{activeTask.type-icon}}"></i>
                        View Details
                    </span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    {{/if}}
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        Tasks: {{tasksCount}}
    </div>
</div>
<div class="row">
    {{#each tasks}}
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-{{status-class}}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-{{status-icon}} fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{code}}</div>
                        <div>{{title}}</div>
                        <div>Estimated time: {{esthours}}:{{estminutes}}</div>
                    </div>
                </div>
            </div>
            <a href="/task/details/{{_id}}">
                <div class="panel-footer">
                    <span class="pull-left">
                        <i class="fa fa-{{type-icon}}"></i>
                        View Details
                    </span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    {{/each}}
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        Finished tasks: {{finishedTasksCount}}
    </div>
</div>
<div class="row">
    {{#each finishedTasks}}
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-{{status-class}}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-{{status-icon}} fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{code}}</div>
                        <div>{{title}}</div>
                        <div>Conclusion time: {{end-time-hours}}:{{end-time-minutes}}</div>
                    </div>
                </div>
            </div>
            <a href="/task/details/{{_id}}">
                <div class="panel-footer">
                    <span class="pull-left">
                        <i class="fa fa-{{type-icon}}"></i>
                        View Details
                    </span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    {{/each}}
</div>